/* $Id$ */ 
.pi-category{
	background: #EEE;
	margin: 20px 0px 0px;
	text-align: center;
}

#edit-filter-wrapper{
	display: inline;
}

#edit-node-id-wrapper{
	display: inline;
}

input.form-submit{
	margin: 0px;
}


